@import url(./reset.css);
/*section*/
.container {
    width: 1200px;
    margin: 0 auto;
}
.banner {
    background: url(./img/banner.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 958px;
}
.banner-title {
    color: #FFFFFF;
}
.banner-title h1 {
    font-size: 80px;
    line-height: 106px;
    padding-bottom: 32px;
    font-weight: bold;
}
.banner-title span {
    font-size: 24px;
    line-height: 42px;
}
.banner-title p{
    padding-bottom: 40px;
}
.banner-icon img:hover{
    opacity: 0.6;
    transition: .5s;
}
.about h2 {
    font-size: 64px;
    line-height: 84px;
    font-weight: bold;
    text-align: center;
    padding-top: 56px;
    padding-bottom: 40px;
}
.about img {
    width: 384px;
    height: 384px;
}
.about-content {
    font-weight: bold;
    text-align: center;
    font-weight: bold;
}
.about img {
    padding-bottom: 20px;
}
.about-content h3 {
    line-height: 42px;
}
.about-content p::after{
    content: "";
    display: block;
    width: 384px;
    margin: 0 auto;
    padding-bottom: 24px;
    border-bottom: 1px solid #000000;
}
.about-text {
    text-align: center;
    line-height: 42px;
    font-weight: bold;
    padding-top: 28px;
}
.about-text li {
    padding-bottom: 28px;
}
.about-text li::before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    background-color: #891818;
    width: 22px;
    height: 22px;
    margin-right: 16px;

}
.brand {
    background-color: #000000;
    border: 1px solid #707070;
    color: #FFFFFF;
    text-align: center;
    margin: 56px 0;
}
.brand-title h2 {
    font-size: 64px;
    line-height: 84px;
    padding-top: 56px;
    padding-bottom: 12px;
}
.brand-title h3 {
    line-height: 42px;
    padding-bottom: 32px;
}
.brand-title p {
    font-size: 20px;
    padding-bottom: 68px;
}
.brand-item {
    padding-bottom: 40px;
}
.brand-item-two {
    margin-right: 24px;
    padding-bottom: 160px;
}
.subtitle h2{
    font-size: 64px;
    line-height: 84px;
    font-weight: bold;
    text-align: center;
}
.subtitle p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 56px;
}
.works {
    margin-bottom: 144px;
}
.work-text {
    font-size: 20px;
    line-height: 42px;
    text-align: center;
}
.contact {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}
.contact-title h2 {
    font-size: 64px;
    line-height: 84px;
    font-weight: bold;
    padding-top: 64px;
}
.contact-content {
    padding-bottom: 64px;
}
.contact-content a{
    color: #FFFFFF;
}
.contact-content a:hover{
    color: #891818;
    transition: .5s;
}