/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Roboto' , sans-serif;
    font-style: italic;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
/*section*/
.container {
    width: 1200px;
    margin: 0 auto;
}
.banner {
    background: url(./img/banner.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 958px;
}
.banner-title {
    color: #FFFFFF;
}
.banner-title h1 {
    font-size: 80px;
    line-height: 106px;
    padding-bottom: 32px;
    font-weight: bold;
}
.banner-title span {
    font-size: 24px;
    line-height: 42px;
}
.banner-title p{
    padding-bottom: 40px;
}
.about h2 {
    font-size: 64px;
    line-height: 84px;
    font-weight: bold;
    text-align: center;
    padding-top: 56px;
    padding-bottom: 40px;
}
.about img {
    width: 384px;
    height: 384px;
}
.about-content {
    font-weight: bold;
    text-align: center;
    line-height: 42px;
    font-weight: bold;
}
.about-content h3 {
    padding-top: 20px;
}
.border-line {
    border-bottom: 1px solid #000000;
}
.about-text {
    text-align: center;
    line-height: 42px;
    font-weight: bold;
    padding-top: 28px;
}
.about-text li::before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    background-color: #891818;
    width: 22px;
    height: 22px;
    margin-right: 16px;

}
.brand {
    background-color: #000000;
    border: 1px solid #707070;
    color: #FFFFFF;
    text-align: center;
    margin: 56px 0;
}
.brand-title h2 {
    font-size: 64px;
    line-height: 84px;
    padding-top: 56px;
    padding-bottom: 12px;
}
.brand-title h3 {
    line-height: 42px;
    padding-bottom: 32px;
}
.brand-title p {
    font-size: 20px;
    padding-bottom: 68px;
}
.brand-item-two {
    padding-top: 40px;
    padding-bottom: 160px;
}
.subtitle h2{
    font-size: 64px;
    line-height: 84px;
    font-weight: bold;
    text-align: center;
}
.subtitle p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 56px;
}
.works {
    margin-bottom: 144px;
}
.work-text {
    font-size: 20px;
    line-height: 42px;
    text-align: center;
}
.contact {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}
.contact-title h2 {
    font-size: 64px;
    line-height: 84px;
    font-weight: bold;
    padding-top: 64px;
}
.contact-content {
    padding-bottom: 64px;
}
.contact-content a{
    color: #FFFFFF;
}
.contact-content a:hover{
    color: #891818;
    transition: .5s;
}